/* Limeade PHP Framework
		- Theme: Default
		- Preprocessor: LESS
		- Date Published: */
		
/* ----------------------  BASE STYLES ---------------------- */
		
// Colors
@black: rgba(10,11,11,1);
@white: rgba(248,248,242,1);
@grey: rgba(70,72,74,1);
@primary: #e03a3c;
@secondary: ;

// Base Paddings
@base-padding: 50px; 
@base-margin: 25px;

		
/* ----------------------  BEGIN STYLESHEET ---------------------- */

@import 'partial/reset.less';

@import 'partial/typography.less';
@import 'partial/grid.less'; 
@import 'partial/ui.less';

@import 'partial/large.screen.less';  
@import 'partial/small.screen.less'; 